*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  header {
    width: 100%;
    padding: 25px 10px;
  }

  .nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .space ul li {
    list-style: none;
    display: inline;
    margin-left: 40px;
  }

  .space {
    margin-top: 40px;
  }
  
  a{
    color: black;
    text-decoration: none;
  }

  .space-btn{
    margin-top: 40px;
    width: 100px;
  }

  .space-btn{
    padding: 9px 25px;
    cursor: pointer;
    border: solid 1px blue;
    color: blue;
    background-color: white;
    border-radius: 20px;
  }

  .h-p{
    font-size: 50px;
    margin-bottom: 4%;
  }

  .h-p span{
    color: blue;
  }

  .world-p{
    font-size: 20px;
    margin-bottom: 6%;
  }

  .world-vpn {
    text-align: center;
    width: 100%;
    margin-top: 6%;
  }

  .world-vpn span {
    color: blue;
  }

.div-center{
  text-align: center;
  margin-top: 5%;
}

.fastest , .internet , .policy{
  margin-bottom: 4%;
}

.h-fastest {
  color: rgb(13, 111, 156);
}

.para{
  font-size: 20px;
  margin: 15px;
}

.your-plan span{
  color: blue;
}

.featur-plan{
  text-align: center;
}
  
.plan{
  text-align: center;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
  padding-left: 90px;
}

article ul li{
  list-style: none;
  margin-top: 3%;
}

.free{
  border-style: ridge;
  border-radius: 15px;
  width: 250px;
  height: 350px;
  padding-top: 55px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 30px; 
}

.standard{
  border-style: ridge;
  border-radius: 15px;
  width: 250px;
  height: 350px;
  padding-top: 55px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 30px;
}

.premium{
  border-style: ridge;
  border-radius: 15px;
  width: 250px;
  height: 350px;
  padding-top: 55px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 30px;
}

.select{
  padding: 5px 25px;
    cursor: pointer;
    border: solid 1px blue;
    color: blue;
    background-color: white;
    border-radius: 20px;
    margin-top: 4%;
}

.subscribe{
  margin-top: 15%;
  padding-left: 150px;

}

form input{
  width: 100%;
  border-radius: 5px;
  border: solid 1px;
  padding: 6px;
}
  
 




















