*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  width: 100%;
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

a{
  text-decoration: none;
  color: black;
}

.space{
  margin-left: 20px;
  width: 100px;
  border-radius: 10px;
  
}

.space , button  :hover{
  cursor: pointer;
  color: black;
}

.button {
  display: flex;
  justify-content: end;
  height: 30px;
}

div{
  margin-top: 35px;
  padding-left: 250px;
}

section{
  padding: 50px;
}

.section-pp {
  margin-bottom: 5px;
  border: 1px solid blue;
  width: fit-content;
  padding: 12px;
  float: right;
  margin-right: 100px;
}

.section-p{
  margin-bottom: 5px;
  border:1px solid blue;
  width: fit-content;
  
}

.world-vpn{
  display: flex;
  justify-content: center;
}

.h-p{
  font-size: 50px;
}

.world{
  color: blue;
}

.world-p{
  color: blue;
  margin-bottom: 4%;
}

.internet .fastest .policy .para{
  font-size: 20px;
  margin-bottom: 4%;
}

.space-1{
  padding-right: 10%;
}

.h-fastest{
  color: rgb(46, 103, 177);
}













